<table id="domains" class="table table-condensed table-striped table-hover sites">
  <thead>
  <tr>
    <th>ID</th>
    <th>Domain Name</th>
    <th>User Count</th>
    <th>Associated Users</th>
  </tr>
  </thead>
  <tbody>

  <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.id %></td>
        <td><%= domain.name %></td>
        <td><%= domain.users.count %></td>
        <td><%= link_to 'Change users', edit_domain_path(domain) %></td>
      </tr>
  <% end %>

  </tbody>
</table>

<%= form_for(@domain, remote: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>
